//
// Wraps
// -------------------------------------------------- 


// Header wrap
// ---------------------------
#headerwrap {
  position: relative;
  // background: url(../images/header-bg-1.jpg) no-repeat center top;
  // background-image: radial-gradient(circle at 44% 37%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('../images/header-bg-7.jpg');
  margin-top: -10px;
  margin-bottom: 60px;
  padding-top:20px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  // margin-top: 100px;
  color: white;
  font-size: 60px;
  font-weight: 700;
}

#headerwrap h2 {
  color: rgba(255, 255, 255, 0.85);
  font-size: 22px;
  font-weight: 100;
  margin-top: 10px;
}